@import 'https://fonts.googleapis.com/css?family=Lato';

body {
  background-color: #d7e3f7;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #828a99;
  text-align: center;
}

h1, h2 {
  color: #5f6d84;
  margin-top: 0px;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

li {
  display: inline;
  list-style-type: none;
  padding-left: 20px;
}

.logo {
  width: 100px;
  opacity: .7;
}

img {
  width: 100%;
}

.mb {  
  margin-bottom: 10%;
}

.mt {
  margin-top: 10%;
}
.mts {
  margin-top: 5%;
}

.col-lg-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.box {
  background-color: #c5cfe0;
  padding: 10px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}