/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville:400i|Oswald);


::-moz-selection {
    background: #8fe6f7;
    color: #ffffa5;
    text-shadow: none;
}

::selection {
    background: #8fe6f7;
    color: #ffffa5;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}
.ml0 {
  margin-left: 0;
}
.mr0 {
  margin-right: 0;
}

.mt {
	margin-top: 80px;
}

.mts {
  margin-top: 20px;
}

.mtm {
  margin-top: 40px;
}

.mb {
  margin-bottom: 80px;
}

.mbs {
	margin-bottom: 40px;
}



/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #78818A;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
    color: #78818A;
}

#responsive_headline {
  font-family: 'Oswald', sans-serif;
  color: #f0f0f0;
  text-transform: uppercase;
}


@media only screen and (min-width: 1024px) {
    h2#responsive_headline {
      letter-spacing: 2px;
    }
  }

h2 > span {
  font-family: 'Libre Baskerville', serif;
}



.box-with-text {
    background-image: -webkit-linear-gradient(0deg, rgba(17,232,187, 0.9) 0%, rgba(17,178,232, 0.9) 50%, rgba(17,232,187, 0.9) 100%);
    background-position: 0 0;
    -webkit-background-clip: text;
    background-size: 400px 100%;
    background-repeat: repeat;
    -webkit-animation: stripes 3s linear infinite;
    animation: stripes 3s linear infinite;
    -webkit-text-fill-color: transparent;
}

/*.box-with-text:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0vmax 0vmax 10vmax 10vmax purple, 15vmax 0vmax 10vmax 10vmax violet, 30vmax 0vmax 10vmax 10vmax teal, 45vmax 0vmax 10vmax 10vmax orangered, 60vmax 0vmax 10vmax 10vmax yellow, 75vmax 0vmax 10vmax 10vmax crimson, 90vmax 0vmax 10vmax 10vmax yellowgreen, 105vmax 0vmax 10vmax 10vmax orange, 120vmax 0vmax 10vmax 10vmax darkturquoise, 135vmax 0vmax 10vmax 10vmax pink, 0vmax 15vmax 10vmax 10vmax steelblue, 15vmax 15vmax 10vmax 10vmax turquoise, 30vmax 15vmax 10vmax 10vmax coral, 45vmax 15vmax 10vmax 10vmax skyblue, 60vmax 15vmax 10vmax 10vmax darkviolet, 75vmax 15vmax 10vmax 10vmax gold, 90vmax 15vmax 10vmax 10vmax purple, 105vmax 15vmax 10vmax 10vmax violet, 120vmax 15vmax 10vmax 10vmax teal, 135vmax 15vmax 10vmax 10vmax orangered, 0vmax 30vmax 10vmax 10vmax yellow, 15vmax 30vmax 10vmax 10vmax crimson, 30vmax 30vmax 10vmax 10vmax yellowgreen, 45vmax 30vmax 10vmax 10vmax orange, 60vmax 30vmax 10vmax 10vmax darkturquoise, 75vmax 30vmax 10vmax 10vmax pink, 90vmax 30vmax 10vmax 10vmax steelblue, 105vmax 30vmax 10vmax 10vmax turquoise, 120vmax 30vmax 10vmax 10vmax coral, 135vmax 30vmax 10vmax 10vmax skyblue, 0vmax 45vmax 10vmax 10vmax darkviolet, 15vmax 45vmax 10vmax 10vmax gold, 30vmax 45vmax 10vmax 10vmax darkslateblue, 45vmax 45vmax 10vmax 10vmax purple, 60vmax 45vmax 10vmax 10vmax violet, 75vmax 45vmax 10vmax 10vmax teal, 90vmax 45vmax 10vmax 10vmax orangered, 105vmax 45vmax 10vmax 10vmax yellow, 120vmax 45vmax 10vmax 10vmax crimson, 135vmax 45vmax 10vmax 10vmax yellowgreen, 0vmax 60vmax 10vmax 10vmax orange, 15vmax 60vmax 10vmax 10vmax darkturquoise, 30vmax 60vmax 10vmax 10vmax pink, 45vmax 60vmax 10vmax 10vmax steelblue, 60vmax 60vmax 10vmax 10vmax turquoise, 75vmax 60vmax 10vmax 10vmax coral, 90vmax 60vmax 10vmax 10vmax skyblue, 105vmax 60vmax 10vmax 10vmax darkviolet, 120vmax 60vmax 10vmax 10vmax gold, 135vmax 60vmax 10vmax 10vmax darkslateblue;
    -webkit-animation: shadows-cells 2.5s linear infinite;
    animation: shadows-cells 2.5s linear infinite;
}*/

@-webkit-keyframes stripes {
  100% {
    background-position: -400px 0;
  }
}

@keyframes stripes {
  100% {
    background-position: -400px 0;
  }
}

h2 {
  color: #BBC0C4;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

img {
  display: block;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: rgba(255,255,255,1);
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: rgba(255,255,255,0.7);
}
.navbar-default .navbar-nav > li > a:hover {
	color: rgba(255,255,255,1);
}



/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#headerwrap {
  margin: 0px;
  overflow: hidden;
  width: 100%;
  min-height: 700px;
  background: #11e8bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #1187E8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#1187E8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#1187E8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#headerwrap .container {
  position: absolute;
  padding-top: 250px;
  text-align:center;
  width: 100%;

/*	background: url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h3 {
	font-weight: 400;
	color: #ffffff;
  margin-top: 0;
}

.section span {
  color: #ccc;
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #3E4B57;
}

#footerwrap p, #footerwrap a {
	color: #838D96;
	margin-left: 10px;
}

#footerwrap a:hover {
  color: #fff;
}

.social li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.social .fa {
  font-size: 1.2em;
  color: #838D96;
}

.social .fa:hover {
  color: #fff;
}

#cover {
  padding-top: 250px;
  width: 100%;
  min-height: 650px;
  background-color: rgba(0,0,0,.7);
}

#javelin {
  background: radial-gradient(#926eb8, #584c97);
}
#javelin h4 a {
  color: #e53475;
}
#javelin h4 a:hover {
  color: #f74a89;
}
#mobile {
  background: url(../img/wireframes.jpg) no-repeat center top;
}
#future {
  background: url(../img/brainpaint.jpg) no-repeat center top;
}
.workwrap {
	margin-top: -70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

.workwrap h4 {
	font-weight: 400;
	color: rgba(255,255,255,0.6);
  line-height: 1.8em;
}


#works p {
  margin-top: 20px;
  color: #999;
}

#aboutwrap {
	background: url(../img/graceng.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}


/* Overrides */
.btn {
  border-radius: 0;
}

.btn-lg {
  background-color: transparent;
  color: #428bca;
}

/*
.btn-default a:hover {
  color: #5b97f7;
  font-weight: 700;
}*/

.my-slider li {
  text-align: center;
}

.unslider-wrap {
  min-height: 400px;
  height: auto;
}
